:root {
  --default-font-family: HiraginoSans, Hiragino Kaku Gothic ProN, Meiryo, Arial, sans-serif;
  --mono-font-family: "Courier New", Consolas, monospace;
  --media-mobile: 750px;

  --unit: 18px;

  --ft-size-xxl: calc(var(--unit) * 3.25);
  --ft-size-xl:  calc(var(--unit) * 2.00);
  --ft-size-l:   calc(var(--unit) * 1.25);
  --ft-size-m:   calc(var(--unit) * 0.75);
  --ft-size-s:   calc(var(--unit) * 0.63);
  --ft-size-xs:  calc(var(--unit) * 0.50);

  --space-size-xxl: calc(var(--unit) * 4.50);
  --space-size-xl:  calc(var(--unit) * 2.75);
  --space-size-l:   calc(var(--unit) * 1.75);
  --space-size-m:   calc(var(--unit) * 1.00);
  --space-size-s:   calc(var(--unit) * 0.75);
  --space-size-xs:  calc(var(--unit) * 0.25);

  --base-z-index: 0;

  --global-header-height: 3rem;

  width: 100vw;
  height: 100vh;
  font-size: var(--unit);
}

@keyframes spin {
  from { transform: rotate(  0deg); }
  to   { transform: rotate(360deg); }
}
